#
# {{ ansible_managed }}
#

[global]
workgroup = {{ adauth_workgroup }}
realm = {{ adauth_realm }}
password server = {{ adauth_pdc }}
security = ads
	
kerberos method = secrets and keytab
	
client signing = yes
client use spnego = yes
   
# --------------------------- Logging Options -----------------------------
 
# logs split per machine
log file = /var/log/samba/log.%m
# max 50KB per log file, then rotate
max log size = 50
